@keyframes scale-down-center {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  to {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
}
.me-icon1,
.textimage-icon,
.vector-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 1440px;
  height: 833px;
}
.about-me3 {
  position: absolute;
  top: 156px;
  left: 46px;
  line-height: 121.2%;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  width: 602px;
}
.menu,
.menu-icon {
  position: absolute;
  top: -3px;
  left: -3px;
  width: 67px;
  height: 42.02px;
}
.menu {
  text-decoration: none;
  top: 42px;
  left: 1321px;
  width: 61px;
  height: 36.02px;
}
.frame-child1 {
  position: absolute;
  top: 0;
  left: 13.37px;
  border-radius: var(--br-43xl);
  background-color: var(--color-slategray);
  width: 200.48px;
  height: 52px;
}
.download-cv2,
.frame-div {
  position: absolute;
  left: 0;
  width: 226px;
}
.download-cv2 {
  top: 13px;
  font-size: var(--font-size-base);
  letter-spacing: 0.04em;
  line-height: 150%;
  font-weight: 800;
  font-family: var(--font-league-spartan);
  color: var(--color-white);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 22px;
}
.frame-div {
  top: 0;
  height: 52px;
}
.download-cv1,
.logo-icon1 {
  position: absolute;
  cursor: pointer;
}
.download-cv1 {
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 34px;
  left: 1054px;
  width: 226px;
  height: 52px;
}
.download-cv1:hover {
  animation: 4s ease 0s 1 normal none scale-down-center;
  opacity: 1;
}
.logo-icon1 {
  top: 21px;
  left: 27px;
  width: 122px;
  height: 85px;
  object-fit: cover;
}
.about-me3 {
  position: relative;
  width: 100%;
  height: 40px;
  text-align: left;
  font-size: var(--font-size-51xl);
  color: var(--color-midnightblue);
  font-family: var(--font-league-spartan);
}

body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-league-spartan: "League Spartan";
  

  /* font sizes */
  --font-size-base: 16px;
  --font-size-51xl: 70px;
  --font-size-5xl: 24px;
  --font-size-81xl: 100px;

  /* Colors */
  --color-white: #fff;
  --color-slategray: #1b6b83;
  --color-midnightblue: #0e1373;
  --color-skyblue: #5db9d0;

  /* border radiuses */
  --br-43xl: 62px;
}
