@keyframes scale-down-center {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  to {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
}
@keyframes slide-in-right {
  0% {
    transform: translateX(200px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
.frame-child,
.frame-item {
  position: absolute;
  top: 0;
  left: 0;
  width: 1440px;
  height: 833px;
  object-fit: cover;
}
.frame-item {
  height: 119px;
}
.bg-child,
.me-icon {
  position: absolute;
  top: 159px;
  left: 720px;
  width: 575px;
  height: 674px;
}
.me-icon {
  top: 119px;
  height: 714px;
  object-fit: cover;
}
.bg,
.frame-inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 1440px;
  height: 833px;
}
.frame-inner {
  left: 20.7px;
  border-radius: var(--br-43xl);
  background-color: var(--color-skyblue);
  width: 310.48px;
  height: 82px;
}
.lets-chat1 {
  position: absolute;
  top: 20.5px;
  left: 0;
  font-size: var(--font-size-5xl);
  letter-spacing: 0.04em;
  line-height: 150%;
  font-weight: 800;
  font-family: var(--font-league-spartan);
  color: var(--color-white);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 350px;
  height: 34.69px;
}
.lets-chat,
.lets-chat-inner {
  position: absolute;
  width: 350px;
  height: 82px;
}
.lets-chat-inner {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 0;
  left: 0;
}
.lets-chat {
  top: 635px;
  left: 149px;
}
.warm-greetings-to {
  margin: 0;
  position: absolute;
  top: 496px;
  left: 41px;
  font-size: inherit;
  letter-spacing: -0.02em;
  line-height: 160%;
  font-weight: 500;
  font-family: inherit;
  display: flex;
  align-items: center;
  width: 595px;
  opacity: 0.45;
}
.hi-im {
  margin-block-start: 0;
  margin-block-end: 7px;
}
.sarthika-agarwal {
  margin: 0;
}
.hi-im-sarthika-container1 {
  line-break: anywhere;
  width: 100%;
}
.hi-im-sarthika-container,
.welcome {
  margin: 0;
  position: absolute;
  left: 41px;
  line-height: 121.2%;
  text-transform: capitalize;
  font-family: inherit;
  display: flex;
  align-items: center;
  width: 716px;
}
.hi-im-sarthika-container {
  top: 284px;
  font-size: var(--font-size-51xl);
  font-weight: 700;
}
.welcome {
  top: 200px;
  font-size: 30px;
  font-weight: 400;
}
.landing-page-child {
  position: absolute;
  top: 37px;
  left: 1292px;
  width: 67px;
  height: 42.02px;
  object-fit: cover;
}
.rectangle-div {
  position: absolute;
  top: 0;
  left: 13.37px;
  border-radius: var(--br-43xl);
  background-color: var(--color-slategray);
  width: 200.48px;
  height: 52px;
}
.download-cv {
  position: absolute;
  top: 13px;
  left: 0;
  font-size: var(--font-size-base);
  letter-spacing: 0.04em;
  line-height: 150%;
  font-weight: 800;
  font-family: var(--font-league-spartan);
  color: var(--color-white);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 226px;
  height: 22px;
}
.rectangle-container {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 34px;
  left: 1054px;
  width: 226px;
  height: 52px;
}
.rectangle-container:hover {
  animation: 4s ease 0s 1 normal none scale-down-center;
  opacity: 1;
}
.logo-icon {
  position: absolute;
  top: 21px;
  left: 27px;
  width: 122px;
  height: 85px;
  object-fit: cover;
}
.landing-page {
  position: relative;
  border: 1px solid #7aa6df;
  box-sizing: border-box;
  width: 100%;
  height: 833px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-midnightblue);
  font-family: var(--font-league-spartan);
}
.menu-icon {
  position: absolute;
  top: 47px;
  left: 1318px;
  width: 67px;
  height: 42.02px;
}
.cover-toggle-drawer {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-skyblue);
  width: 1440px;
  height: 816px;
}
.about-me,
.portfolio,
.skillset {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 578px;
  left: 70px;
  font-size: var(--font-size-81xl);
  line-height: 121.2%;
  text-transform: capitalize;
  font-weight: 700;
  font-family: var(--font-league-spartan);
  color: var(--color-midnightblue);
  text-align: left;
  display: flex;
  align-items: center;
  width: 454px;
  height: 95px;
}
.about-me,
.skillset {
  top: 357px;
  width: 387px;
  height: 111px;
}
.about-me {
  top: 171px;
  width: 489px;
  height: 76px;
}
.group-child,
.group-inner,
.group-item,
.vector-parent {
  position: absolute;
  top: -3px;
  left: -2.59px;
  width: 66.59px;
  height: 14.67px;
}
.group-inner,
.group-item,
.vector-parent {
  top: 10.67px;
  left: -3px;
}
.group-inner,
.vector-parent {
  top: 24.34px;
}
.vector-parent {
  text-decoration: none;
  top: 40px;
  left: 1295px;
  width: 61px;
  height: 36.02px;
}


body {
  margin: 0;
  line-height: normal;
}

.popup-overlay {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

:root {
  /* fonts */
  --font-league-spartan: "League Spartan";
  --font-poppins: League Spartan;
  --font-plus-jakarta-sans: "League Spartan";

  /* font sizes */
  --font-size-base: 20px;
  --font-size-51xl: 70px;
  --font-size-5xl: 24px;
  --font-size-81xl: 100px;

  /* Colors */
  --color-white: #fff;
  --color-slategray: #1b6b83;
  --color-midnightblue: #0e1373;
  --color-skyblue: #5db9d0;

  /* border radiuses */
  --br-43xl: 62px;
}
